.train-platform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .train-platform {
    background-color: #0074d9;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
  }
  
  .train-platform:hover {
    transform: scale(1.1);
  }